
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Dictionary<int, int>;

<h3>Year</h3>
<table>
    <tr>
        <th>Year of study</th>
        <th>Count</th>
    </tr>
    @foreach(KeyValuePair<int, int> kvp in Model)
    {
        <tr>
            <td>@kvp.Key</td>
            <td>@kvp.Value</td>
        </tr>
    }
</table>